/* src/styles.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container form div {
    margin-bottom: 10px;
  }
  
  .container form label {
    font-weight: bold;
  }
  
  .container form input,
  .container form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .container form button:hover {
    background-color: #0056b3;
  }