.booking-details {
    margin-top: 50px;
    text-align: center; /* Center align the header */
  }
  
  .booking-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-left: 50px; /* Add margin to the left */
  }
  
  .book-header {
    margin-bottom: 20px; /* Add space below the header */
  }
  
  .pay-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }  