/* Reservation Page Styles */
.container-reservation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-x: auto; /* Add horizontal scrollbar */
    white-space: nowrap; /* Ensure items stay on the same line */
    margin-top: 50px;
  }
  
  .reservation-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    display: inline-block; /* Ensure items stay on the same line */
    min-width: 300px; /* Minimum width for each item */
  }
  
  .reservation-item h3 {
    margin-bottom: 10px;
  }
  
  .reservation-item p {
    margin-bottom: 8px;
  }
  
  .book-now-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-now-btn:hover {
    background-color: #0056b3;
  }  

  /* Header Styles */
.res-header {
    background-color: #4381ff;
    color: #fff;
    padding: 1px;
    height: 10vh;
    text-align: center;
  }
  
  /* Footer Styles */
  .res-footer {
    background-color: #4381ff;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 1px 0;
  }
  
/* Reservation Page Styles */
.container-reservation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-x: auto; /* Add horizontal scrollbar */
  white-space: nowrap; /* Ensure items stay on the same line */
  margin-top: 50px;
}

.reservation-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  display: inline-block; /* Ensure items stay on the same line */
  min-width: 300px; /* Minimum width for each item */
}

.reservation-item h3 {
  margin-bottom: 10px;
}

.reservation-item p {
  margin-bottom: 8px;
}

.book-now-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-now-btn:hover {
  background-color: #0056b3;
}  

/* Header Styles */
.res-header {
  background-color: #4381ff;
  color: #fff;
  padding: 1px;
  height: 10vh;
  text-align: center;
}

/* Footer Styles */
.res-footer {
  background-color: #4381ff;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  padding: 1px 0;
}

/* Toastify Styles */
.reservation-toastify__toast-container {
  width: 100%;
  z-index: 9999;
}

.reservation-toastify__toast--success {
  background-color: #4caf50;
}

.reservation-toastify__toast--error {
  background-color: #f44336;
}

.reservation-toastify__toast {
  border-radius: 5px;
  color: #ffffff;
}

.reservation-toastify__toast-body {
  padding: 10px 20px;
  font-size: 16px;
}

